.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 2rem 3rem;
}

.header {
    grid-column: span 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.columnHeader {
}

.cardList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;
}

.cardTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tag {
    padding: 0.2rem 0.6rem;
    line-height: 1rem;
    background-color: pink;
    border-radius: 0.7rem;
}
.cardBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trio {
    display: flex;
    gap: 1rem;
}
.info {
    display: flex;
    gap: 0.3rem;
}

.addTask {
}